Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.337a7062.js.map
  example.d13db52f.js
  example.d13db52f.js.map
  index.html
Due: eslint --fix

feat(core): new api useBean & useInject
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Todo/index.tsx
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
  src/core/Symbols.ts
  src/core/index.ts
  src/hooks/index.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useStatedBean.ts
  src/types/StatedBeanType.ts
  src/types/index.ts
  test/__snapshots__/stated-change.test.tsx.snap
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/useStatedBean.test.tsx
Due: eslint --fix

chore(npm): version 0.2.0-alpha
  package.json
  src/hooks/useInject.ts
Due: prettier --write, eslint --fix

fix: type coverage
  src/decorator/StatedBean.ts
  src/event/Event.ts
  src/types/ClassType.ts
  src/utils/index.ts
Due: eslint --fix

docs: code comment
  README.md
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/PostProvided.ts
  src/decorator/Stated.ts
  src/decorator/StatedBean.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/types/ClassType.ts
  test/stated-change.test.tsx
Due: prettier --write, eslint --fix

test: update the test snapshot
  test/__snapshots__/provider.test.tsx.snap
Due: none

feat(core): new api useBean & useInject (#45)
  README.md
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Todo/index.tsx
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/core/Symbols.ts
  src/core/index.ts
  src/decorator/PostProvided.ts
  src/decorator/Stated.ts
  src/decorator/StatedBean.ts
  src/event/Event.ts
  src/hooks/index.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useStatedBean.ts
  src/types/ClassType.ts
  src/types/StatedBeanType.ts
  src/types/index.ts
  src/utils/index.ts
  test/__snapshots__/stated-change.test.tsx.snap
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/useStatedBean.test.tsx
Due: prettier --write, eslint --fix

chore(release): 0.2.0-alpha
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.d13db52f.js.map
  example.e2ab406b.js
  example.e2ab406b.js.map
  index.html
Due: eslint --fix

chore: use union configurations, improve build flow and umd package
  .commitlintrc
  .commitlintrc.json
  .eslintignore
  .eslintrc.js
  .gitignore
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .prettierrc
  .prettierrc.js
  .renovaterc
  jest.config.js
  package.json
  renovate.json
  src/context/StatedBeanContext.ts
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/PostProvided.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/index.ts
  src/metadata/storage.ts
  src/tsconfig.cjs.json
  src/tsconfig.es.json
  src/types/ClassType.ts
  src/utils/index.ts
  test/application.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: increase alpha version
  .eslintrc.js
  .huskyrc.js
  package.json
Due: prettier --write, eslint --fix

chore: use union configurations, improve build flow and umd package (#46)
  .commitlintrc
  .commitlintrc.json
  .eslintignore
  .eslintrc.js
  .gitignore
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .prettierrc
  .prettierrc.js
  .renovaterc
  jest.config.js
  package.json
  renovate.json
  src/context/StatedBeanContext.ts
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/PostProvided.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/index.ts
  src/metadata/storage.ts
  src/tsconfig.cjs.json
  src/tsconfig.es.json
  src/types/ClassType.ts
  src/utils/index.ts
  test/application.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.2.0-alpha.1
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependency @1stg/rollup-config to ^0.2.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to ^3.0.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency react to >=16.9.0
  package.json
Due: prettier --write

build: bump dev dependencies, fix pkg files for unpkg
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.2.0-alpha.2
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.e2ab406b.js.map
  example.eb7cac79.js
  example.eb7cac79.js.map
  index.html
Due: eslint --fix

chore(deps): update dependency @1stg/rollup-config to ^0.3.0
  package.json
  yarn.lock
Due: prettier --write

build: bump dependencies, add es2015 bundle, extract tslib as peer
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.2.0-alpha.3
  CHANGELOG.md
Due: prettier --write

ci: add bundlesize check support
  .travis.yml
  README.md
  codechecks.yml
Due: prettier --write

docs: replace hard coded size with badge
  README.md
Due: prettier --write

refactor: remove console
  package.json
  src/core/StatedBeanContainer.ts
  src/event/Event.ts
Due: prettier --write, eslint --fix

docs: update README
  README.md
Due: prettier --write

chore: release 0.2.0
  package.json
Due: prettier --write

Release 0.2.0 (#52)
  README.md
  package.json
  src/core/StatedBeanContainer.ts
  src/event/Event.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.0
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.083bca11.js
  example.083bca11.js.map
  example.eb7cac79.js.map
  index.html
Due: eslint --fix

feat(core): supports effect action
  example/index.tsx
  example/src/components/Todo/index.tsx
  example/src/models/CounterModel.ts
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  package.json
  src/core/AutoBind.ts
  src/core/EffectEvent.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/decorator/StatedBean.ts
  src/decorator/index.ts
  src/hooks/index.ts
  src/hooks/useBean.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/index.ts
  src/interceptor/StatedInterceptor.ts
  src/interceptor/index.ts
  src/middleware/EffectMiddleware.ts
  src/middleware/index.ts
  src/types/EffectEventValue.ts
  src/types/index.ts
  src/utils/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

test: rewrite some test with react-hooks-testing-library
  package.json
  src/core/EffectContext.ts
  src/core/index.ts
  src/hooks/useObserveEffect.ts
  test/application.test.ts
  test/effect-action.test.ts
  test/post-provided.test.ts
  test/stated-change.test.tsx
  test/use-inject.test.tsx
  test/utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove unexpect adding dependency
  package.json
Due: prettier --write

feat: use the method's name as the default effect key
  src/decorator/Effect.ts
  src/utils/index.ts
Due: eslint --fix

fix: eslint
  .eslintrc.js
  src/hooks/useObserveEffect.ts
  test/use-bean.test.tsx
  yarn.lock
Due: eslint --fix

feat: supports effect action (#53)
  .eslintrc.js
  README.md
  example/index.tsx
  example/src/components/Todo/index.tsx
  example/src/models/CounterModel.ts
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  package.json
  src/core/AutoBind.ts
  src/core/EffectContext.ts
  src/core/EffectEvent.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/decorator/StatedBean.ts
  src/decorator/index.ts
  src/hooks/index.ts
  src/hooks/useBean.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/index.ts
  src/interceptor/StatedInterceptor.ts
  src/interceptor/index.ts
  src/middleware/EffectMiddleware.ts
  src/middleware/index.ts
  src/types/EffectEventValue.ts
  src/types/index.ts
  src/utils/index.ts
  test/application.test.ts
  test/effect-action.test.ts
  test/post-provided.test.ts
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.3.0-alpha
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.083bca11.js.map
  example.5ccc58e5.js
  example.5ccc58e5.js.map
  index.html
Due: eslint --fix
