Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

chore(deps): update dependency @1stg/lint-staged
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/prettier-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/rollup-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/tsconfig
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/core to ^7.7.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^24.0.22
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.12.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-dom to ^16.9.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to ^1.19.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to ^1.26.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/babel-preset
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/commitlint-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/eslint-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/husky-config
  package.json
  yarn.lock
Due: prettier --write

chore: bump (dev)Dependencies, use union configuration
  .eslintignore
  .eslintrc
  .eslintrc.js
  .gitignore
  .prettierignore
  .prettierrc
  .prettierrc.js
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Todo/index.tsx
  package.json
  src/context/StatedBeanConsumer.tsx
  src/context/StatedBeanContext.ts
  src/context/StatedBeanProvider.tsx
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObservable.ts
  src/hooks/useObserveEffect.ts
  test/application.test.tsx
  test/bean-wrapper.test.tsx
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.2abb7e98.js
  example.2abb7e98.js.map
  example.3595eaf0.js.map
  index.html
Due: eslint --fix

fix: 🐛 factory stated bean metadata
  example/index.tsx
  example/src/Test.tsx
  example/src/components/Counter/index.tsx
  package.json
  src/core/BeanDefinition.ts
Due: prettier --write, eslint --fix

chore: 🤖 upgrade denpendcy
  package.json
  yarn.lock
Due: prettier --write

docs: ✏️ example by stackblitz
  yarn.lock
Due: none

chore: 🤖 upgrade denpendcy
  yarn.lock
Due: none

chore: 🤖 rebase master
  example/src/components/Counter/index.tsx
  yarn.lock
Due: eslint --fix

fix: 🐛 eslint
  .eslintrc
  example/index.tsx
  example/src/Test.tsx
Due: eslint --fix

style: 💄 remove trailing comma
  .prettierrc
  .prettierrc.js
  src/core/AutoBind.ts
  src/core/BeanDefinition.ts
  src/core/BeanObserver.ts
  src/core/BeanWrapper.ts
  src/core/LifeCycle.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/AfterProvided.ts
  src/decorator/Effect.ts
  src/decorator/StatedBean.ts
  src/hooks/useBean.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/utils/index.ts
  test/bean-wrapper.test.tsx
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
Due: eslint --fix

style: 💄 new line after var
  .eslintrc
  .prettierrc.js
  example/src/App.tsx
  example/src/models/CounterModel.ts
  example/src/models/TodoModel.ts
  package.json
  src/context/StatedBeanConsumer.tsx
  src/context/StatedBeanProvider.tsx
  src/core/AutoBind.ts
  src/core/BeanDefinition.ts
  src/core/BeanObserver.ts
  src/core/BeanWrapper.ts
  src/core/LifeCycle.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/Effect.ts
  src/decorator/StatedBean.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObservable.ts
  src/hooks/useObserveEffect.ts
  src/metadata/index.ts
  src/metadata/storage.ts
  src/types/ClassType.ts
  src/utils/index.ts
  test/application.test.tsx
  test/bean-wrapper.test.tsx
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/metadata.test.ts
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/jest to ^24.0.23
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.12.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update react monorepo to >=16.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.8.3
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.01a3001b.js
  example.01a3001b.js.map
  example.2abb7e98.js
  example.2abb7e98.js.map
  index.html
Due: eslint --fix

fix: 🐛 ts type check fail when class has constructor with param
  package.json
  src/types/ClassType.ts
Due: prettier --write, eslint --fix

fix: 🐛 ts type check fail when class has constructor with param (#132)
  package.json
  src/types/ClassType.ts
Due: prettier --write, eslint --fix

chore(release): 0.8.4
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependency rxjs to v6.5.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency type-coverage to ^2.4.0
  package.json
  yarn.lock
Due: prettier --write
