Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

fix(event): timing of event subscribe
  example/src/services/TodoService.ts
  package.json
  src/hooks/useContainer.ts
  src/hooks/useStatedBean.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 0.1.2-RC.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.1090576c.js
  example.1090576c.js.map
  example.3df7c256.js.map
  example.98424338.js
  example.98424338.js.map
  index.html
Due: eslint --fix

fix(core): set changed value immediatly
  src/core/StatedBeanContainer.ts
Due: eslint --fix

chore(npm): version 0.1.2-RC.2
  package.json
Due: prettier --write

fix(core): set changed value immediately (#35)
  package.json
  src/core/StatedBeanContainer.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.2-RC.2
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.98424338.js.map
  example.a89aa35a.js
  example.a89aa35a.js.map
  index.html
Due: eslint --fix

fix(core): preserve enum StatedBeanScope in build
  package.json
  src/core/StatedBeanScope.ts
Due: prettier --write, eslint --fix

fix(core): preserve enum StatedBeanScope in build (#36)
  package.json
  src/core/StatedBeanScope.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.2-RC.3
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.a89aa35a.js.map
  example.e3c92da8.js
  example.e3c92da8.js.map
  index.html
Due: eslint --fix

fix: use the type as the identity in storage
  src/core/StatedBeanContainer.ts
  src/event/Event.ts
  src/hooks/useStatedBean.ts
  src/metadata/storage.ts
  test/application.test.ts
  test/metadata.test.ts
Due: eslint --fix

chore(npm): version 0.1.2-RC.4
  package.json
Due: prettier --write

fix: use the type as the identity in storage (#39)
  package.json
  src/core/StatedBeanContainer.ts
  src/event/Event.ts
  src/hooks/useStatedBean.ts
  src/metadata/storage.ts
  test/application.test.ts
  test/metadata.test.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.2-RC.4
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.25f9b848.js
  example.25f9b848.js.map
  example.e3c92da8.js.map
  index.html
Due: eslint --fix

fix: use the bean as event key
  src/event/Event.ts
  src/hooks/useStatedBean.ts
Due: eslint --fix

feat(core): supports bean force update
  src/core/ForceUpdate.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
Due: eslint --fix

chore(npm): version 0.1.3-beta
  package.json
Due: prettier --write

feat(core): bean force update (#40)
  package.json
  src/core/ForceUpdate.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
  src/event/Event.ts
  src/hooks/useStatedBean.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.3-beta
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.25f9b848.js.map
  example.785656ad.js
  example.785656ad.js.map
  index.html
Due: eslint --fix

feat(core): create temporary with action callback
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  package.json
  src/core/EffectContext.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanScope.ts
  src/core/index.ts
  src/decorator/StatedBean.ts
  src/hooks/useStatedBean.ts
  test/useStatedBean.test.tsx
Due: prettier --write, eslint --fix

feat(core): create temporary with action callback (#42)
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  package.json
  src/core/EffectContext.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanScope.ts
  src/core/index.ts
  src/decorator/StatedBean.ts
  src/hooks/useStatedBean.ts
  test/useStatedBean.test.tsx
Due: prettier --write, eslint --fix

chore(release): 0.1.4-beta
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.0e8a4344.js
  example.0e8a4344.js.map
  example.785656ad.js.map
  index.html
Due: eslint --fix

fix(core): effect event emit
  src/core/StatedBeanContainer.ts
Due: eslint --fix

chore(npm): version 0.1.4-beta.1
  package.json
Due: prettier --write

chore(release): 0.1.4-beta.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.0e8a4344.js.map
  example.337a7062.js
  example.337a7062.js.map
  index.html
Due: eslint --fix

feat(core): supports named stated bean
  example/src/components/Todo/index.tsx
  src/context/StatedBeanProvider.tsx
  src/core/NoSuchBeanDefinitionError.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
  src/hooks/useContainer.ts
  src/hooks/useStatedBean.ts
  src/types/Provider.ts
  src/types/StatedMetadata.ts
  src/types/index.ts
  src/utils/index.ts
Due: eslint --fix

refactor: rename isStatedBean symbol
  package.json
  src/core/index.ts
  src/decorator/StatedBean.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix

test: useStatedBean test
  src/core/StatedBeanRegistry.ts
  src/event/Event.ts
  src/hooks/useStatedBean.ts
  test/provider.test.tsx
  test/useStatedBean.test.tsx
Due: eslint --fix

refactor: make private method as @internal
  example/src/components/Todo/index.tsx
  src/core/StatedBeanContainer.ts
Due: eslint --fix

docs: update README
  README.md
Due: prettier --write

fix: toString method for EffectContext
  src/core/EffectContext.ts
Due: eslint --fix

chore(release): 0.1.5-beta
  CHANGELOG.md
Due: prettier --write
