Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

chore(deps): update dependency serve to ^11.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^24.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency injection-js to ^2.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^3.7.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lib-config to ^0.1.19
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.12.25
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.19
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^24.9.1
  package.json
  yarn.lock
Due: prettier --write

feat: 🎸 @Props field update via set method
  example/dev.html
  example/dev.tsx
  example/src/Dev.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Counter/model.ts
  example/src/components/Todo/index.tsx
  example/src/components/Todo/model.ts
  example/src/models/CounterModel.ts
  package.json
  src/core/BeanObserver.ts
  src/core/shallowEqual.ts
  src/hooks/useBean.ts
  test/props.test.tsx
  test/use-bean.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: 🤖 upgrade all dependencies
  .eslintrc
  package.json
  src/core/BeanObserver.ts
  src/core/shallowEqual.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: 🤖 change bundlesize
  .travis.yml
Due: prettier --write

refactor: 💡 eslint fix
  example/dev.tsx
  example/index.tsx
  src/decorator/ObservableProps.ts
  src/types/ClassType.ts
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
Due: eslint --fix

chore: buid:r error
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: integration with yarn-deduplicate
  package.json
  yarn.lock
Due: prettier --write

Release 0.8.5 (#140)
  .eslintrc
  .travis.yml
  example/dev.html
  example/dev.tsx
  example/index.tsx
  example/src/Dev.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Counter/model.ts
  example/src/components/Todo/index.tsx
  example/src/components/Todo/model.ts
  example/src/models/CounterModel.ts
  package.json
  src/core/BeanObserver.ts
  src/core/shallowEqual.ts
  src/decorator/ObservableProps.ts
  src/hooks/useBean.ts
  src/types/ClassType.ts
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/props.test.tsx
  test/use-bean.test.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.8.5
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.01a3001b.js.map
  example.931140eb.js
  example.931140eb.js.map
  index.html
Due: eslint --fix

chore(deps): update dependency rxjs to >=6.5.4
  package.json
Due: prettier --write

fix: 🐛 update props field when change
  package.json
  src/core/BeanObserver.ts
Due: prettier --write, eslint --fix

fix: 🐛 update props field when change (#147)
  package.json
  src/core/BeanObserver.ts
Due: prettier --write, eslint --fix

chore(release): 0.8.6
  CHANGELOG.md
Due: prettier --write

feat: 🎸 useObserveEffect support function
  example/src/Dev.tsx
  example/src/components/Todo/index.tsx
  src/core/BeanObserver.ts
  src/decorator/Effect.ts
  src/hooks/useObserveEffect.ts
  src/types/Actions.ts
  src/types/ClassType.ts
Due: eslint --fix

chore: 🤖 package version
  package.json
  src/hooks/useObserveEffect.ts
Due: prettier --write, eslint --fix

chore: 🤖 fix lint
  test/effect-action.test.tsx
Due: eslint --fix

chore: 🤖 fix test
  test/props.test.tsx
Due: eslint --fix

Release/0.9.0 (#154)
  example/src/Dev.tsx
  example/src/components/Todo/index.tsx
  package.json
  src/core/BeanObserver.ts
  src/decorator/Effect.ts
  src/hooks/useObserveEffect.ts
  src/types/Actions.ts
  src/types/ClassType.ts
  test/effect-action.test.tsx
  test/props.test.tsx
Due: prettier --write, eslint --fix

chore(release): 0.9.0
  CHANGELOG.md
Due: prettier --write

fix: 🐛 effect loading event
  package.json
  src/decorator/Effect.ts
  src/hooks/useObserveEffect.ts
  src/types/Actions.ts
Due: prettier --write, eslint --fix

test: 💍 no promise effect action will throw error
  test/effect-action.test.tsx
Due: eslint --fix

feat: effect observable performance (#158)
  package.json
  src/decorator/Effect.ts
  src/hooks/useObserveEffect.ts
  src/types/Actions.ts
  test/effect-action.test.tsx
Due: prettier --write, eslint --fix

chore(release): 0.9.1
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependency tslib to >=1.12.0
  package.json
Due: prettier --write

fix: 🐛 ClassType args type
  package.json
  src/types/ClassType.ts
Due: prettier --write, eslint --fix

Release/0.9.2 (#162)
  package.json
  src/hooks/useObserveEffect.ts
  src/types/ClassType.ts
Due: prettier --write, eslint --fix

chore(release): 0.9.2
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependency @types/jest to ^25.2.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency serve to ^11.3.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^25.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency yarn-deduplicate to v2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency injection-js to ^2.4.0
  package.json
  yarn.lock
Due: prettier --write
