Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

fix(deps): bump dependencies, improve build and lint usage
  .eslintrc.js
  .remarkrc
  README.md
  browserslist
  example/src/models/TodoModel.ts
  example/tsconfig.json
  package.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: improve type definitions, increase type coverage
  .eslintrc.js
  codechecks.yml
  example/src/components/Counter/index.tsx
  example/src/services/TodoService.ts
  package.json
  src/core/AutoBind.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/decorator/Effect.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/types/ClassType.ts
  test/effect-action.test.ts
  test/stated-change.test.tsx
Due: prettier --write, eslint --fix

fix(deps): bump dependencies, improve build and lint usage (#54)
  .eslintrc.js
  .remarkrc
  README.md
  browserslist
  codechecks.yml
  example/src/components/Counter/index.tsx
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  example/tsconfig.json
  package.json
  src/core/AutoBind.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/decorator/Effect.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/types/ClassType.ts
  test/effect-action.test.ts
  test/stated-change.test.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.3.0-beta
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.5ccc58e5.js.map
  example.c1d03a3c.js
  example.c1d03a3c.js.map
  index.html
Due: eslint --fix

chore(deps): update dependency rollup to ^1.21.0
  package.json
  yarn.lock
Due: prettier --write

fix(build): build ts targetting es5 by default, remove browser field
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency tslib to >=1.10.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.3.1-beta
  CHANGELOG.md
Due: prettier --write

fix(types): remove unnecessary internal flag
  jest.config.js
  package.json
  src/core/StatedBeanContainer.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.3.1-beta.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.96a6c886.js
  example.96a6c886.js.map
  example.c1d03a3c.js.map
  index.html
Due: eslint --fix

chore(deps): use rollup-config cli `r` to simplify usage
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/rollup-config to ^0.9.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to ^6.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to ^8.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/eslint-config to ^0.12.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/tsconfig
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.7.8
  package.json
  yarn.lock
Due: prettier --write

feat(hooks): remove temporary container for useBean
  .eslintrc.js
  package.json
  src/core/StatedBeanContainer.ts
  src/hooks/useBean.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: lint and types issue
  .commitlintrc
  .eslintrc.js
  .prettierignore
  .yarnrc
  browserslist
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanContainer.ts
  src/hooks/useContainer.ts
  src/hooks/useObserveEffect.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency @1stg/babel-preset
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lint-staged
  package.json
  yarn.lock
Due: prettier --write

feat: bean provider
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  example/tsconfig.json
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/event/Event.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/tsconfig.json
  src/types/Provider.ts
  src/types/StatedBeanType.ts
  src/utils/index.ts
  test/application.test.ts
  test/effect-action.test.tsx
  test/post-provided.test.ts
  test/post-provided.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix: deps, fuck @foreleven
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

ci: upgrade bundle size
  .travis.yml
Due: prettier --write

chore(release): 0.4.0
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.487aeb6c.js
  example.487aeb6c.js.map
  example.96a6c886.js.map
  index.html
Due: eslint --fix

feat(core): be with rxjs
  example/index.tsx
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/BeanObserver.ts
  src/core/CountableSubject.ts
  src/core/Lifecycle.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/types/Actions.ts
  src/types/EffectEventValue.ts
  src/types/StatedBeanType.ts
  src/types/index.ts
  src/utils/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(npm): add rxjs as peer dependency
  package.json
  yarn.lock
Due: prettier --write

fix(core): bean observe methods in container
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/TodoModel.ts
  src/context/StatedBeanProvider.tsx
  src/core/BeanObserver.ts
  src/core/StatedBeanContainer.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/types/Provider.ts
Due: eslint --fix

feat(core): add debug tag in application
  src/core/BeanObserver.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/types/Actions.ts
Due: eslint --fix

feat(core): support plain object bean
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  example/src/services/TodoService.ts
  src/core/BeanObserver.ts
  src/core/EffectEvent.ts
  src/core/NoSuchBeanDefinitionError.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/hooks/useBean.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/index.ts
  src/middleware/EffectMiddleware.ts
  src/middleware/index.ts
  src/types/StatedBeanType.ts
  src/utils/index.ts
  test/application.test.ts
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/post-provided.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
Due: eslint --fix

fix(core): remove self ref in CountableSubject
  src/core/CountableSubject.ts
Due: eslint --fix
