Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

test: fix test unit
  test/use-inject.test.tsx
Due: eslint --fix

fix: file name case
  src/core/LifeCycle.ts
Due: eslint --fix

feat(core): add type FunctionPropertyNames
  src/hooks/useObserveEffect.ts
  src/types/ClassType.ts
  test/effect-action.test.tsx
Due: eslint --fix

chore: remove bad name file
  src/core/Lifecycle.ts
Due: eslint --fix

feat: be with rxjs (#66)
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  package.json
  src/core/BeanObserver.ts
  src/core/CountableSubject.ts
  src/core/EffectEvent.ts
  src/core/LifeCycle.ts
  src/core/NoSuchBeanDefinitionError.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/core/StatedBeanRegistry.ts
  src/core/index.ts
  src/decorator/Effect.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/hooks/useObserveEffect.ts
  src/index.ts
  src/middleware/EffectMiddleware.ts
  src/middleware/index.ts
  src/types/Actions.ts
  src/types/ClassType.ts
  src/types/EffectEventValue.ts
  src/types/Provider.ts
  src/types/StatedBeanType.ts
  src/types/index.ts
  src/utils/index.ts
  test/application.test.ts
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/post-provided.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.5.0
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.487aeb6c.js.map
  example.9c1805ca.js
  example.9c1805ca.js.map
  index.html
Due: eslint --fix

feat: export utils
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

feat: export utils (#73)
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.5.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.9c1805ca.js.map
  example.d537a9dc.js
  example.d537a9dc.js.map
  index.html
Due: eslint --fix

fix: 🐛 bean scope of useBean & useInject hooks
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
Due: eslint --fix

test: 💍 fix life cycle testing
  test/life-cycle.test.tsx
Due: eslint --fix

fix: bean scope of useBean & useInject hooks (#74)
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanRegistry.ts
  test/life-cycle.test.tsx
Due: eslint --fix

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.67787da0.js
  example.67787da0.js.map
  example.d537a9dc.js.map
  index.html
Due: eslint --fix

chore: 🤖 release 0.5.2
  package.json
Due: prettier --write

chore: 🤖 version 0.5.3
  package.json
Due: prettier --write

feat: 🎸 observe props
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  src/core/BeanObserver.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/ObservableProps.ts
  src/decorator/Props.ts
  src/decorator/index.ts
  src/hooks/useBean.ts
  src/metadata/storage.ts
  src/types/Provider.ts
  src/types/StatedMetadata.ts
Due: eslint --fix

feat: 🎸 handle default prop name for ObservableProps
  example/src/models/CounterModel.ts
  package.json
  src/decorator/ObservableProps.ts
Due: prettier --write, eslint --fix

test: 💍 props observe testing
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/props.test.tsx
  test/use-bean.test.tsx
Due: eslint --fix

feat: props observer via @Props() & @ObservableProps (#81)
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/models/CounterModel.ts
  package.json
  src/core/BeanObserver.ts
  src/core/StatedBeanRegistry.ts
  src/decorator/ObservableProps.ts
  src/decorator/Props.ts
  src/decorator/index.ts
  src/hooks/useBean.ts
  src/metadata/storage.ts
  src/types/Provider.ts
  src/types/StatedMetadata.ts
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/props.test.tsx
  test/use-bean.test.tsx
Due: prettier --write, eslint --fix

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.67787da0.js.map
  example.67fa5c5c.js
  example.67fa5c5c.js.map
  index.html
Due: eslint --fix

fix: 🐛 props type in UseBeanOptions
  example/src/components/Counter/index.tsx
  package.json
  src/core/BeanObserver.ts
  src/hooks/useBean.ts
  src/types/Provider.ts
Due: prettier --write, eslint --fix

fix: 🐛 props type in UseBeanOptions (#82)
  example/src/components/Counter/index.tsx
  package.json
  src/core/BeanObserver.ts
  src/hooks/useBean.ts
  src/types/Provider.ts
Due: prettier --write, eslint --fix

chore(release): 0.6.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.67fa5c5c.js.map
  example.7237035c.js
  example.7237035c.js.map
  index.html
Due: eslint --fix

feat: 🎸 useObservable for observable field
  example/src/components/Counter/index.tsx
  package.json
  src/hooks/index.ts
  src/hooks/useObservable.ts
  test/use-observable.test.tsx
Due: prettier --write, eslint --fix

feat: 🎸 useObservable callback source
  src/hooks/useObservable.ts
Due: eslint --fix

feat: 🎸 callback ObservableSource
  example/src/components/Counter/index.tsx
  src/hooks/useObservable.ts
Due: eslint --fix

Release 0.7.0
  example/src/components/Counter/index.tsx
  package.json
  src/hooks/index.ts
  src/hooks/useObservable.ts
  test/use-observable.test.tsx
Due: prettier --write, eslint --fix

chore(release): 0.7.0
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.7237035c.js.map
  example.f1bd54cc.js
  example.f1bd54cc.js.map
  index.html
Due: eslint --fix

chore(release): 0.8.0
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.a6039545.js
  example.a6039545.js.map
  example.f1bd54cc.js
  example.f1bd54cc.js.map
  index.html
Due: eslint --fix

chore(deps): update dependency @1stg/babel-preset to ^0.7.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/eslint-config to ^0.12.20
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/husky-config to ^0.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lint-staged to ^0.8.6
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --write: any of: *.{json,md,yml}
  eslint --fix: any of: *.{js,mdx,ts,tsx}
