Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

chore(deps): update dependency @1stg/prettier-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/rollup-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @testing-library/react-hooks to ^2.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.7.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency cross-env to ^6.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to ^6.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to ^3.0.9
  package.json
  yarn.lock
Due: prettier --write

chore: 🤖 release 0.8.1
  example/src/components/Todo/index.tsx
  package.json
  src/core/StatedBeanApplication.ts
  src/decorator/Effect.ts
  src/decorator/ObservableProps.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/types/Actions.ts
  test/application.test.ts
  test/application.test.tsx
  test/effect-action.test.tsx
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
Due: prettier --write, eslint --fix

chore: 🤖 release 0.8.1 (#93)
  example/src/components/Todo/index.tsx
  package.json
  src/core/StatedBeanApplication.ts
  src/decorator/Effect.ts
  src/decorator/ObservableProps.ts
  src/hooks/useBean.ts
  src/hooks/useContainer.ts
  src/hooks/useInject.ts
  src/types/Actions.ts
  test/application.test.ts
  test/application.test.tsx
  test/effect-action.test.tsx
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
Due: prettier --write, eslint --fix

chore(deps): update dependency @babel/core to ^7.6.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^9.4.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency parcel-bundler to ^1.12.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to ^1.23.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rxjs to >=6.5.3
  package.json
Due: prettier --write

chore(deps): update dependency typescript to ^3.6.4
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.8.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.4eb85a03.js
  example.4eb85a03.js.map
  example.a6039545.js.map
  index.html
Due: eslint --fix

fix: 🐛 bean object is not correctly gc after component unmount
  README.md
  example/index.tsx
  package.json
  src/core/BeanDefinition.ts
  src/core/BeanObserver.ts
  src/core/BeanWrapper.ts
  src/core/StatedBeanRegistry.ts
  src/hooks/useObserveEffect.ts
  test/bean-wrapper.test.tsx
  test/effect-action.test.tsx
  test/life-cycle.test.tsx
  test/plain-object.test.tsx
  test/props.test.tsx
  test/stated-change.test.tsx
  test/use-bean.test.tsx
  test/use-inject.test.tsx
  test/use-observable.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: 🤖 release 0.8.2
  .prettierignore
Due: none

chore: 🤖 release 0.8.2 (#94)
  .prettierignore
Due: none

docs: ✏️ update README
  README.md
Due: prettier --write

docs: ✏️ example by stackblitz
  example/index.tsx
  example/src/App.less
  example/src/App.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

ci: 🎡 fix eslit build error
  .travis.yml
Due: prettier --write

docs: ✏️ examples by stackblitz (#95)
  .travis.yml
  example/index.tsx
  example/src/App.less
  example/src/App.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.8.2
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.3595eaf0.js
  example.3595eaf0.js.map
  example.4eb85a03.js
  example.4eb85a03.js.map
  example.c0d20f18.css
  example.c0d20f18.css.map
  index.html
Due: eslint --fix

chore(deps): update dependency @types/jest to ^24.0.21
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.12.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-dom to ^16.9.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-test-renderer to ^16.9.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to ^6.6.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/babel-preset
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/commitlint-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/eslint-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/husky-config
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --write: any of: *.{json,md,yml}
  eslint --fix: any of: *.{js,mdx,ts,tsx}
